<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Second Page</title></head>
<body>
<p>First Name: <span th:text="${userDto.firstName}"></span></p>
<p>Last Name: <span th:text="${userDto.lastName}"></span></p>
<p>Email: <span th:text="${userDto.email}"></span></p>
<p>Phone: <span th:text="${userDto.phone}"></span></p>
<form th:action="@{/user-details/thirdpage}" method="post">
    City: <input type="text" name="city" required><br>
    Country: <input type="text" name="country" required><br>
    <button type="submit">Submit</button>
</form>
</body>
</html>
